@import url("https://fonts.googlepis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px 15px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  width: 22%;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #292725;
  cursor: default;
}

.navigation a {
  font-size: 14px;
  font-weight: 600;
  color: #554d4a;
  text-decoration: none;
  margin-right: 5px;
  transition: 0.3s;
  text-align: center;
}

.navigation a:hover {
  color: #eaccb6;
}

.hire {
  color: #fff;
  text-decoration: none;
  padding: 9px 12px;
  background: #292725;
  border-radius: 4px;
  border: 2px solid #554d4a;
  font-weight: 700;
  font-size: 14px;
  transition: 0.3s;
  margin: 1px;
  grid-column: 3;
  display: grid;
}

.hire:hover:nth-child(1) {
  color: #554d4a;
  background: transparent;
}

.hire:hover {
  color: #554d4a;
  background: transparent;
}
.about-me {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: #ffffff;
  box-sizing: border-box;
}

.about {
  width: 100%;
  max-width: 85%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pic {
  position: fixed;
  height: auto;
  width: 100%; /* Gör bilden responsiv */
  max-width: 260px; /* Begränsa maxbredd */
  border-radius: 300px; /* Rundade hörn för en proffsig känsla */
  margin-top: 120px;
  align-items: center;
}

.text {
  width: 540px;
}

.text h2 {
  position: fixed;
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
  padding: 120px 0px;
  transform: translate(-10px);
}

.text h5 {
  position: fixed;
  padding: 280px 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  transform: translate(-60px);
}

span {
  color: #736659;
}

.text p {
  position: fixed;
  font-size: 14px;
  padding: 330px 0px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-left: -20px;
  transform: translate(-40px);
}

.link {
  margin-top: 30px;
}

.social-icons {
  position: absolute;
  bottom: 30px;
  right: 3%;
}

.social-icons a {
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #292725;
  border-radius: 50%;
  margin-right: 20px;
  text-align: center;
  line-height: 30px;
  outline: 2px solid #473f35;
  transition: 0.3s;
  text-align: center;
  transform: translate(-100px);
}

.social-icons a i {
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1440px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-left: 20px;
  }

  .logo {
    width: 15%;
    font-size: 2rem;
    color: #292725;
    cursor: default;
    padding: 10px 10px;
    margin-left: -40px;
  }

  .navigation a {
    font-size: 18px;
    font-weight: 600;
    color: #292725;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 5px;
  }

  .navigation {
    list-style: none;
  }
  .navigation a:hover {
    color: #eaccb6;
  }

  .hire {
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    background: #292725;
    border-radius: 5px;
    border: 2px solid #473f35;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s;
    margin: 5px;
    grid-column: 3;
    display: grid;
  }
  .about-me {
    width: 100%;
    min-height: 100vh;
    padding: 140px 20px;
    background: #ffffff;
    box-sizing: border-box;
    margin-left: 30px;
    position: relative;
  }

  .about {
    width: 100%;
    max-width: 100%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .pic {
    position: fixed;
    height: auto;
    width: 100%; /* Gör bilden responsiv */
    max-width: 300px; /* Begränsa maxbredd */
    margin-top: 210px;
    align-items: center;
  }
  .pic {
    /* För max-width 1440px */
    position: fixed;
    height: auto;
    width: 100%; /* Gör bilden responsiv */
    max-width: 320px; /* Begränsa maxbredd */
    margin-top: 340px;
    margin-left: -470px;
  }
  .text h2 {
    width: 100%;
    max-width: 100%;
    position: fixed;
    font-size: 68px;
    font-weight: bold;
    margin-top: 140px;
    padding: -150px;
  }
  .text h2 {
    /* För max-width 1440px */
    position: fixed;
    font-size: 68px;
    font-weight: bold;
    margin-top: -100px;
    margin-left: 250px;
    padding: -150px;
  }

  .text h5 {
    /* För max-width 1440px */
    position: fixed;
    padding: 110px 98px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 200px;
  }

  .text p {
    position: fixed;
    font-size: 16px;
    padding: 370px 150px;
    margin-left: -120px;
  }
  .text p {
    /* För max-width 1440px */
    position: fixed;
    font-size: 16px;
    padding: 160px 100px;
    margin-left: 180px;
  }

  .social-icons a {
    text-align: left;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #292725;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 37px;
    outline: 2px solid #473f35;
    transition: 0.3s;
    transform: translate(-5px);
  }

  .social-icons a i {
    color: #fff;
  }
}

