* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  color: #292725;
  cursor: default;
}

.navigation a {
  font-size: 14px;
  font-weight: 600;
  padding: 3px;
  color: #292725;
  text-decoration: none;
  transition: 0.3s;
}

.navigation a:hover {
  color: #eaccb6;
}

.btn-hire {
  color: #fff;
  text-decoration: none;
  padding: 7px 10px;
  background: #292725;
  border-radius: 4px;
  border: 2px solid #554d4a;
  font-weight: 700;
  font-size: 14px;
  transition: 0.3s;
  margin: 5px;
  grid-column: 3;
  display: grid;
}

.btn-hire:hover {
  color: #554d4a;
  background: transparent;
}

#project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
}

.project-heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.project-heading h3 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #222222;
}

.project-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4ded7;
  border: 1px solid rgba(0, 0, 0, 0, 05);
  border-radius: 100px;
  flex-wrap: wrap;
  margin: 20px;
  list-style-type: none;
  padding: 0;
}

.project-filter li {
  margin: 10px;
  padding: 5px 20px;
  color: #473f35;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.project-filter-active {
  background-color: #e4ded7;
  color: #473f35;
  border-radius: 100px;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.project-container h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #222222;
}

.project-container h5 {
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.project-box {
  width: 330px;
  padding: 15px;
  border: 1px solid #e4ded7;
  margin: 20px;
}

.project-box img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.contact-section {
  text-align: right;
  padding: 20px;
  border-top: 8px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.contact-section h2 {
  margin-bottom: 10px;
  color: #333;
}

.contact-section a {
  color: #292725;
  text-decoration: none;
  font-weight: bold;
}

.contact-section a:hover {
  color: #eaccb6;
  transition: 0.3s;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin-top: 10px;
}

.contact-form label {
  margin-bottom: 5px;
  color: #333;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  .logo {
    font-size: 2rem;
    color: #292725;
    cursor: default;
    padding: 10px 10px;
  }

  .navigation a {
    font-size: 18px;
    font-weight: 500;
    color: #292725;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 10px;
  }

  .navigation {
    list-style: none;
  }
  .navigation a:hover {
    color: #eaccb6;
  }

  .btn-hire {
    color: #fff;
    text-decoration: none;
    padding: 5px 18px;
    background: #292725;
    border-radius: 5px;
    border: 2px solid #554d4a;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s;
    margin: 5px;
    grid-column: 3;
    display: grid;
  }

  .project-heading h3 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #222222;
  }
}
