@import url('https://fonts.googlepis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header {
  padding: 40px 50px;
  flex-direction: row;
    justify-content: space-between;
}


.logo{
  font-size: 2rem;
  font-weight: bolder;
  color: #292725 ;
  cursor: default;
}



.navigation {
  margin-left: -760px;
  
  }


.navigation a {
  font-size: 1.1rem;
  color: #554d4a;
  text-decoration: none;
  margin-right: 15px;
 
  transition: .3s;
  
}

.navigation a:hover {
color: #eaccb6;
}

.btn-hire {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background: #292725;
  border-radius: 5px;
  border: 2px solid #473f35;
  font-weight: bold;
  transition: .3s;
}

.btn-hire:hover {
  color: #473f35;
  background: transparent;

}

.home{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('Bild.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 30px 100px;

}

.content {
  font-weight: medium;
  max-width: 300px;
  color: #292725;
}

.content h2{
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.content h2 span {
  font-size: 2.6rem;
  color: #e4e4e4;
  padding: 10px 0 40px 0;
}



.content h4 {
  font-size: 1.5rem;
 
}

.content p {
  padding: 10px 0 40px 0;
}

.btn-group a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background: #292725 ;
  border-radius: 5px;
  border: 2px solid #473f35;
  font-weight: bold;
  transition: .3s;
}

.btn-group a:hover:nth-child(1) {
  color: #473f35;
  background: transparent;
}

.btn-group a:nth-child(2) {
  color: #ffffff;
  background: transparent;
  margin-left: 10px;
  padding: 10px 20px;

}


.btn-group a:hover:nth-child(2) {
  color: #fff;
  background: #292725;
}

.social-icons{
  position: absolute ;
  bottom: 50px;
  right: 3%;
}

.social-icons a {
  text-align: left;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #292725;
  border-radius: 50%;
  margin-right: 22px;
  text-align: center;
  line-height: 37px;
  border: 1px solid #ffffff;
  outline: 2px solid #473f35;
  transition: .3s;
}

.social-icons a:hover {
  transform: translateY(-5px);
}

.social-icons a i {
  color: #fff;
}








 






@media (max-width: 768px) {


  header {
    flex-direction: column;
    padding: 15px 20px;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .logo {
    margin-bottom: 10px;
    font-size: 1rem; 
  }
  
  .navigation {
    margin: 0; 
    display: flex;
    flex-direction: row;
    align-items: center;
   
  }
  
  
  .navigation a {
    margin: 0 7px; 
  
  }
  
  .home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('Bild.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }


  .content h2 {
    font-size: 2rem;
    
  }

  .content h4 {
    font-size: 1.2rem;
  }
  
  .social-icons {
    bottom: 20px;
  }


h1, h2 {
  margin: 0;
  
}

h4{
  color: #ffffff;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
  color: #ffffff;
}





.icon {
  font-size: 2rem; 
}
.card {
  font-size: 0.9rem; 
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 0.8rem; 
}





.social-icons {
  display: flex;             
  justify-content: center;  
  gap: 10px;                
  padding: -150px;           
  margin-bottom: 50px;
  position:fixed; 
  width: 100%;
  height: 1px;
  left: 0%;
}
}
