@import url("https://fonts.googlepis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px 15px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  width: 20%;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #292725;
  cursor: default;
}

.navigation a {
  font-size: 14px;
  font-weight: 600;
  padding: 3px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
  flex-direction: row;
}

.navigation a:hover {
  color: #eaccb6;
}

.btn-hire {
  color: #fff;
  text-decoration: none;
  padding: 9px 12px;
  background: #292725;
  border-radius: 4px;
  border: 2px solid #473f35;
  font-weight: 700;
  font-size: 14px;
  transition: 0.3s;
  margin: 1px;
  grid-column: 3;
  display: grid;
}

.btn-hire:hover {
  color: #473f35;
  background: transparent;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("Bild.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 30px 100px;
}

.content {
  font-weight: medium;
  max-width: 300px;
  color: #ffffff;
}

.content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.content h2 span {
  font-size: 2.6rem;
  color: #ffffff;
  padding: 10px 0 40px 0;
}

.content h4 {
  font-size: 1.5rem;
}

.content p {
  padding: 10px 0 40px 0;
}

.btn-group a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background: #292725;
  border-radius: 5px;
  border: 2px solid #473f35;
  font-weight: bold;
  transition: 0.3s;
}

.btn-group a:hover:nth-child(1) {
  color: #473f35;
  background: transparent;
}

.btn-group a:nth-child(2) {
  color: #ffffff;
  background: transparent;
  margin-left: 10px;
  padding: 10px 20px;
}

.btn-group a:hover:nth-child(2) {
  color: #fff;
  background: #292725;
}

.social-icons {
  position: absolute;
  bottom: 30px;
  right: 3%;
}

.social-icons a {
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #292725;
  border-radius: 50%;
  margin-right: 20px;
  text-align: center;
  line-height: 30px;
  outline: 2px solid #473f35;
  transition: 0.3s;
  text-align: center;
  transform: translate(-100px);
}

.social-icons a:hover {
  transform: translateY(-5px);
}

.social-icons a i {
  color: #fff;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 30px 30px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  .logo {
    font-size: 2rem;
    color: #292725;
    cursor: default;
    padding: 10px 10px;
  }

  .navigation a {
    font-size: 18px;
    font-weight: 500;
    color: #292725;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 10px;
  }

  .navigation {
    margin-left: -850px;
    list-style: none;
  }
  .navigation a:hover {
    color: #eaccb6;
  }

  .btn-hire {
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    background: #292725;
    border-radius: 5px;
    border: 2px solid #473f35;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s;
    margin: 5px;
    grid-column: 3;
    display: grid;
  }

  .content {
    font-weight: medium;
    max-width: 300px;
    color: #292725;
  }

  .social-icons a {
    text-align: left;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #292725;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 37px;
    outline: 2px solid #473f35;
    transition: 0.3s;
    transform: translate(30px);
  }
  .social-icons a:hover {
    transform: translateY(-5px);
  }

  .social-icons a i {
    color: #fff;
  }
}
